@media screen and (max-width: 768px) {
    /* Adjust the styles for smaller screens here */
    .header {
      padding: 0.5rem;
    }
  
    .header nav ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    .header nav li {
      margin-right: 0;
      margin-top: 5px;
      padding: 5px;
    }
  
    .hero-content {
      margin-left: 0;
      text-align: center;
    }
  
    .hero h1,
    .hero p {
      color: #ccc;
      font-size: 2rem;
    }
  
    .inputForm input {
      width: 100%;
    }
  
    .inputForm button {
      padding: 0.3rem 0.8rem;
    }
  }
  